h1{ 
    font-size: 50px;
    margin: 2px;
    padding: 2px;
    border: 2px solid grey;
    background-color: black;
    border-radius: 50px;
    color:white;
    text-align: center
   }
h1.sub{ 
    font-size: 50px;
    margin: 2px;
    padding: 2px;
    border: 2px solid grey;
    background-color: black;
    border-radius: 50px;
    color: #D4AF37;
    text-align: center
   }

p.subosc{  margin: 0px;
           padding: 10px;
           font-size:25px;
           background-color: ;
           border-radius: 20px;
           text-align: center;
     }
  p.texdesc{  margin: 50px;
              padding: 10px;
              font-size:20px;
              background-color: C49400;
     }
   p.cate{  margin: 50px;
            padding: 10px;
            font-size:40px;
     }
    p.nomi{ margin: 50px;
            font-size: 20px;
            text-align: justify;
     }
     
img{ margin: 0px;
     padding: 2px;
     border-radius: 10px
   }